.App {
  max-width: 860px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  .btn {
    $contrast: #fff;
    background: none;
    border: 2px solid $contrast;
    padding: 6px 12px;
    color: $contrast;
    font-weight: bold;
    cursor: pointer;
    font-size: 1em;
    transition: all ease-in 0.1s;
    &:hover {
      background-color: hotpink;
      border: 2px solid rgb(252, 71, 162);
    }
    &:active {
      background-color: rgb(124, 24, 74);
      border: 2px solid rgb(74, 8, 41);
    }
  }
  .cardsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
    padding: 20px;

    @media screen and (max-width: 560px) {
      gap: 15px;
    }

    @media screen and (max-width: 320px) {
      gap: 10px;
    }
  }
}