@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap');
body {
  font-family: Raleway, sans-serif;
  margin: 0;
  background: linear-gradient(-45deg, rgb(135, 0, 156) -20%, rgb(54, 9, 105));
  background-position: bottom;
  color: #fff;
  height: 100vh;
}